html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
#app {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  color:rgba(0, 0, 0, 0.85);
  .app-head {
    box-shadow: 0 2px 8px #f0f1f2;
  }
}