.app-components {
  overflow: hidden;
  height: calc(100% - 65px);
  margin-top: 20px;
  &-left {
    float: left;
    width: 260px;
    height: calc(100%);
    border-right: 2px solid #eee;
  }
  &-right {
    margin-left: 260px;
    height: calc(100% - 20px);
    overflow-y: auto;
    padding-left: 60px;
    padding-right: 60px;

    // 某些原因导致padding-bottom和margin-bottom失效
    &::after {
      display: inline-block;
      height: 40px;
      content: '';
    }
  }
}