.app-components {
  overflow: hidden;
  height: 100%;
  &-left {
    float: left;
    width: 260px;
    height: 100%;
    border-right: 2px solid #eee;
    
  }
  &-right {
    margin-left: 260px;
    height: 100% ;
    overflow-y: auto;
    padding-left: 60px;
    padding-right: 60px;

    // 某些原因导致padding-bottom和margin-bottom失效
    &::after {
      display: inline-block;
      height: 40px;
      content: '';
    }
  }

  .comp-overview {
    list-style: none;
    padding: 0;
    margin: 0;
    &-item {
      border: 1px solid #eee;
      border-radius: 5px;
      margin-bottom: 40px;
      &-title {
        height: 40px;
        line-height: 40px;
        padding: 0;
        margin: 0;
        padding: 0 20px;
        border-bottom: 1px solid #eee;
        a:hover {
          text-decoration: underline !important;
        }
      }

      &-body {
        padding: 20px;

      }
    }
  }
  &-left, .comp-overview .comp-overview-item .comp-overview-item-title {
    a {
      color: #333;
      text-decoration: none;
    }
    a:link {
      text-decoration: none;
    }
    a:visited {
      text-decoration: none;
    }
    a:hover {
      text-decoration: none;
    }
    a:active {
      text-decoration: none;
    }
  }
}
