<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MobTech</title>
  <link href="http://cdn.bootcss.com/highlight.js/8.0/styles/monokai_sublime.min.css" rel="stylesheet">
</head>
<body>
  <div id="app"></div>
  
  
  <% for (var js in htmlWebpackPlugin.options.DLLlBuildJSON) {
    %>
      <script src="vendor/<%= htmlWebpackPlugin.options.DLLlBuildJSON[js].js %>"></script>
    <%
  } %>


<script type="text/javascript" src="static/js/main.9cae50a4.js"></script></body>
</html>